<?xml version="1.0"?>

<model>
  <name>Hatchback green</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Jinsun Lee</name>
    <email></email>
  </author>

  <depend>
    <model>
      <uri>model://hatchback</uri>
      <version>1.0</version>
    </model>
  </depend>

  <description>
    A green hatchback
  </description>
</model>
